
[Unit]
Description=Opaque Oceans start
After=network.target

[Service]
ExecStart=/usr/bin/python /home/opaque/opaqueoceans/opaqueDataTest.py
Restart=always
User=opaque

[Install]
WantedBy=multi-user.target
